h1{
  color:whitesmoke;
  font-family: 'Handlee', cursive;
  text-decoration: underline;
}
.card-body{
  color:whitesmoke;
  font-family: 'Handlee', cursive;
  background-image: url(https://cdn.pixabay.com/photo/2017/07/27/00/46/fantasy-2543658__340.jpg);
  font-size: 20px;
}

.card-body{
  border:2px solid white;
  
}
.qts{
  color:green;
}

.bgn{
  color:red;
}