<div class="container">
    <h1>MY QUOTES</h1>
    <hr>
  
    <div class="row">
      <div class="col-md-6">
        <div *ngFor='let Quotes of Quotes;let i = index'>
          <div>
              <div>
              <button class="qts">{{  Quotes.upvotes }}<i class="fa fa-thumbs-up" id="upvotes" (click)='upVotesQuotes(Quotes)'></i></button>
                <button class="bgn">{{ Quotes.downvotes}}<i class="fa fa-thumbs-down" id="downvotes" (click)='downVotes(Quotes)'></i></button>
                 </div>
            <h6 class="card-body" id={{i}} appStrikethrough>{{Quotes.name}} due on {{Quotes.completeDate|date|uppercase}}</h6>
            <button (click)='toggleDetails(i)' class="btn btn-info">View More</button>
          </div>
          
         
          <div *ngIf='Quotes.showDescription'>
            <app-quotes-detail  [Quotes]='Quotes' (isComplete) = 'deleteQuotes($event,i)'></app-quotes-detail>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <app-quotes-form (addQuotes)="addNewQuotes($event)"></app-quotes-form>
      </div>
    </div>
    <p *ngIf='Quotes.length > 5'></p>
  </div>